*{
  padding: 0;
  margin: 0;
}
body{
  max-width: 750px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

h1{
  font-size: 16px;
  margin-bottom: 2px;
}
hr{
 border: 1px solid #DADADA;
 transform: rotate(180deg);
}
input{
  margin-bottom: 10px;
  height: 25px;
  font-size: 15px;
  padding-left: 5px;
}
textarea{
 background: #FFFFFF;
 border: 1px solid #000000;
 border-radius: 1px;
 width: 99%;
 height: 63px;
 resize: none;
 outline:none;
 overflow:auto;
 padding: 10px 0 10px 5px;
 font-size: 18px;
}
button{
 width: 280px;
 height: 43px;
 background: #FDD639;
 border-radius: 23px;
 outline:none;
 border:0;
 margin-bottom: 20px;
 font-size: 16px;
 font-weight: 700;
}
button:hover{
  background: #806706be;
  cursor: pointer;
}
footer{
  background: #F2F2F2;
  margin: 20px -20px 0 -20px;
}

form{
  padding: 20px 20px 15px 20px;
}

.wrapper-header{
  display: flex;
  margin-top: 15px;
}
.info-block{
  margin-left: 10px;
  width: 100%;
}

.manager-text{
 color: #808080;
 font-size: 12px;
 margin-bottom: 5px;
}
.manager-photo{
border-radius: 50%;
object-fit: none;
position: relative;
transition: all 1s;
}

.manager-photo:hover{
 transform: scale(1.1);
 cursor: pointer;
}
.info-block-text{
 min-height: 54px;
 background: #FFFBC8;
 margin-left: -60px;
 border: 1px solid #DADADA;
 box-sizing: border-box;
 border-radius: 5px;
 padding: 15px 10px 10px 60px;
 font-size: 14px;
}

.info-block-services{
 margin-top: 13px;
}

.services-text{
   font-size: 13px;
   font-weight: 400;
   text-align: right;
   margin: 0px 15px 7px 0;
}

.info-block-wrapper{
  margin: 15px 20px 15px 0;
}
.info-block-wrapper p:nth-child(2){
 font-weight: 700;
}

.info-block-total,
.info-block-services-text{
  display: flex;
  justify-content: space-between;
}
.info-block-services-text{
  font-size: 13px;
  margin-bottom: 10px;
}
.info-text-package,
.info-text-booking,
.info-text-hostel{
 margin-left: 6px;
}
.info-text-booking:before{
 content: "";
 background: #B1E19B;
 border-radius: 0 3px 3px 0;
 width: 17%;
 height: 24px;
 position: absolute;
 z-index: -1;
 margin-left: -6px;
}

.info-text-package:before{
 content: "";
 background: #ace2f8;
 border-radius: 0 3px 3px 0;
 width: 4%;
 height: 24px;
 position: absolute;
 z-index: -1;
 margin-left: -6px;
}

.info-text-hostel:before{
 content: "";
   background: #ace2f8;
   border-radius: 0 3px 3px 0;
   width: 2%;
   height: 24px;
   position: absolute;
   z-index: -1;
   margin-left: -6px;
}

.info-block-total{
 font-weight: 700;
 font-size: 16px;
 margin: 10px 20px 0 6px;
}

.into-block-reviews,
.block-reviews{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.fas,
.fa{
  font-size: 15px;
  padding-right: 5px;
  color: #73b4d5;
}

.last-reviews-text{
 font-weight: 700;
 font-size: 18px;
 margin-right: 10px;
}

.reviews-icon p:nth-child(1){
 margin-right: 15px;
}

.wrapper-block-dialog{
 max-width: 750px;
}

.person-dialog{
 display: flex;
 margin: 15px 0 15px 0;
}

.person-name{
 font-size: 17px;
 font-weight: 700;
}

.person-data{
 padding-top: 3px;
 font-size: 13px;
 font-weight: 400;
 padding-left: 15px;
 color: #808080;
}

.person-comment{
 position: relative;
 max-width: 750px;
 background: #F2FBFF;
 border: 1px solid #C4CBCF;
}

.person-comment p {
 padding: 20px 20px 20px 20px;
}

.person-comment::before{
 content: '';
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   border-bottom: 10px solid #f2fbff;
   border-right: 10px solid transparent;
   left: 30px;
   top: -10px;
}

.person-comment::after{
 content: '';
 display: block;
 position: absolute;
 width: 0;
 height: 0;
 border-bottom: 12px solid #cfcfcf;
 border-right: 13px solid transparent;
 left: 29px;
 top: -12px;
 z-index: -1;
}

.block-button{
 width: 280px;
 margin: auto;
 
}